.main-header {
    /*Adding background color*/ 
    background-color:rgb(241, 240, 240);

    /*Adding the padding, the margin and the border */
    padding:20px;
    margin:15px 20px;
    border: 1px;
    border-radius:2dvb;
    /*Activating flex and putting the main container a column */
    flex-direction: row;
    display:flex;


    
}

.logo {
    padding:30px;
    display:flex;
    height:auto;
    flex:50%;
    align-self:center;
}

.main-nav{
    padding:40px;
    margin:10px;
    display:flex;
    gap:40px;
    flex-flow: wrap row;
    align-items:center;
    justify-content:space-evenly;
    flex:50%

    
    


}

ul {
    list-style-type:none;
}

.main-nav-list{
    padding:20px 0px 20px 0px;
    display:flex;
    gap:40px;
    flex-flow: nowrap row;
    justify-content:space-evenly;
    flex:100%




}
.list-item {
    border-radius:1vh;
}

.list-item a{

    font-size:large;
    font-weight: 100;
    text-decoration: none;
    color:inherit;

}


.list-item a:hover{
    color:rgb(3, 160, 160);

    text-decoration:underline;


}

/*Written by Ludvig Palacios*/